html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h1 {
  color: #0F3376;
  padding: 2vh;
}

p {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.green-bknd {
	background-color: #3b8340;
}

.red-bknd {
  background-color: #f44336;
}

.tbl {
	box-shadow: 5px 10px 8px #888888;
}

td,th,tr {
	background-color: #9cb3e9 ;
	padding: 5px 15px 5px 15px;
}

body {
	background-color: lightgray;
}

.mini {
  margin: auto;
  margin-top: 12px;
  text-align: center;
}

.mini td {
  width: 120px;
}

.config-div {
  box-shadow: 5px 10px 8px #888888;
  background-color:  #67da92;
  border-radius: 10px;
  padding: 10px;
}